/* Add a black background color to the top navigation */
.navBar {
    background-color: #80002a;
    overflow: hidden;
    height: 60px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

/* Style the links inside the navigation bar */
.navBar a.logo{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 36px;
}

/* Change the color of links on hover */
.navBar a.logo:hover {
    background-color: #ddd;
    color: black;
    height: 60px;
}



.navBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 17px;
    height: 30px;
    width: 350px;
}

.navBar a.other{
    float: right;
    color: #f2f2f2;
    border: none;
    margin-top:17px;
    margin-right: 30px;
    font-size: 20px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .navBar a.logo, .navBar input[type=text],.navBar a.other {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .navBar input[type=text] {
        border: 1px solid #ccc;
    }
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: block;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* The dots/bullets/indicators */
.dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}