

.centered {
  /*width: 550px;*/
  /*height: 110px;*/
  /*margin: auto;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
}

.group {
  width: 100%;

  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: 36.66667px;
  color: rgba(0, 0, 0, 1);

  cursor: text;
  transition: .25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: 36.66667px;
  border: none;
  border-radius: 0;
  color: black;
  background: #f1f1f1;
  font-size: 22.66667px;
  transition: .3s ease;
}
input:valid ~ label {
  top: 0;
  font: 700 22px Roboto;
   color: rgb(113, 107, 65);
}
input:focus {
  outline: none;
}
input:focus ~ label {
  top: 0;
  /*font: 700 22px Roboto;*/
  color: #2196f3;
}
input:focus ~ .bar:before {
  transform: translateX(0);
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

.bar {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  width: 550px;
  height: 3.66667px;
  transition: .3s ease;
  position: relative;
}
.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}
